---
---
@import 'typography';

body, html {
	height:100%;
}

body {
	-webkit-font-smoothing: antialiased;
	font-family: 'Roboto', serif;
}

a {
	color: #68a3cc;
}

p, ul {
	font-size: 22px;
}

p {
	text-align: justify;
	line-height: 1.5em;
}

code {
	color: #444;
}

.wrapper {
	height: 100%;
}

header {
	background: #68a3cc;
	width: 600px;
	overflow: hidden;
	padding-top: 15px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 60px;
	z-index: 30;
	position: fixed;
	height: 100%;

	@media only screen and (max-width: 60em) {
		position: static;
		width: 100%;
		height: auto;
	}
}

.header-content {
	position: relative;
}

h1 {
	margin-top: 20px;
	color: #fff;
	font-size: 92px;
	display: block;
	max-width: 550px;
	float: left;
	line-height: 90px;
}

h2, h2 a {
	color: lighten(#181818, 20%);
	
	font-size: 42px;
	margin-bottom: 20px;
}

h2 a:hover {
	color: darken(#68a3cc, 10%);
}

h1 {
	font-family: "patua_oneregular", serif;
}

p.date {

	margin-bottom: 25px;

	span {
		font-family: "Helvetica", sans-serif;
		font-size: 18px;
		padding: 10px;
		border-radius: 5px;
		border: 1px solid #68a3cc;
		color: #68a3cc;
	}
}


.highlight {
	margin-bottom: 10px;
}

.contact {
	margin-top: 40px;
	float: left;
	clear: both;

	a {
		display: block;
		float: left;
		height: 70px;

		svg path {
			fill: #fff;
		}

		&.email {
			width: 100px;
			margin-right: 40px;

			&:hover svg path {
				fill: #456c87;
			}
		}

		&.twitter {
			width: 85px;

			&:hover svg path {
				fill: #456c87;
			}
		}
	}
}

#content {
	overflow:hidden;
	margin-left: 600px;


	@media only screen and (max-width: 60em) {
		margin-left: 0;
	}
}

.primary-column {
	max-width: 960px;
	padding-left: 30px;
	padding-right: 30px;
	max-width: 925px;
}

#content .row {
	clear: both;
	position: relative;
	height: 100%;
	min-height: 100%;
	min-width: 100%;
	padding-bottom: 100px;
	z-index: 10;
	
}

a.more {
	display: block;
	width: 80px;
	text-align: center;
	font-family: "Helvetica", sans-serif;
	font-size: 18px;
	padding: 5px 15px;
	border-radius: 5px;
	background: #68a3cc;
	color: #fff;
	margin: 30px 0;

	&:hover {
		background: #7EB6DD;
	}
}

article {
	padding-top: 30px;
}

ul.posts {

	margin: 0;

	li {
		padding-top: 30px;
	}

	list-style-type: none;
}

#content .last {
	padding-bottom: 0;
}

.github-widget {
	margin: 60px 0px;
}

footer {
	background-color: #FCFCFC;
	border-top: 1px solid #dadada;
}

img.me {
	border-radius: 110px;
	border: 8px solid #68a3cc;
	margin: 30px;
	float: left;
}


p.bio {
	max-width: 425px;
	float: left;
	//padding-top: 65px;
	padding: 52px 30px 0;
	font-size: 23px;
}


@media only screen and (max-width: 40em) {

	p, ul {
		font-size: 23px;
	}



}

@media only screen and (max-width:  80em) {


	img.me {
		margin: -60px auto -20px;
		display: block;
		float: none;
	}

		p.bio {
			float: none;
			margin: 0 auto 30px;
		}
}
